{% extends 'base.html' %}

{% block title %} Appointments {% endblock %}

{% block content %}
	<ul class="nav nav-tabs nav-justified">
  		<li role="" class="active"><a href="#">Inicio</a></li>
  		<li role=""><a href="#">Clases</a></li>
  		<li role=""><a href="#">Profesores</a></li>
  		<li role=""><a href="#">Notificaciones</a></li>
  		<li role=""><a href="#">Ajustes</a></li>
	</ul>
	
<h3>Appointments</h3>
<div class="table-responsive">
<table class="table">
    <tr>
    	<th></th>
        <th>Date</th>
        <th>Reason</th>
    </tr>
    {% for a in appointments %}
    <tr> 
    	<td><a href={% url 'edit_appointment' a.id %}>Edit</a>&nbsp;</td>
        <td>{{ a.date }}&nbsp;</td>
        <td>{{ a.reason }}</td>
    </tr>
    {% endfor %}
</table>
<br>
</div>

<div><a href={% url 'new_appointment' %}>New appointment</a>
{% endblock %}
