{% extends 'base.html' %}
{% block title %} Appointments {% endblock %}


{% block content %}

<h3>Appointments</h3>
<table cellspacing="10">
    <tr>
    	<th></th>
        <th>Date</th>
        <th>Reason</th>
    </tr>
    {% for a in appointments %}
    <tr> 
    	<td><a href={% url 'edit_appointment' a.id %}>Edit</a></td>
        <td>{{ a.date }}</td>
        <td>{{ a.reason }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<div><a href={% url 'new_appointment' %}>New appointment</a>
{% endblock %}
