<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>{% block titulo %}{% endblock %}</title>
<!--   <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'> -->
<!--   <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'> -->
<!--   {% block style_css %}{% endblock %} -->
<!--   <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script> -->
<!--   <script src='{{STATIC_URL}}js/demo.js'></script> -->
</head>
<body>
  <div id="header">
		{% if user.is_authenticated %}
			<p>Bienvenido, <b>{{ user.username }} | <a href="{% url "logout" %}">Logout</a></b> </p>
		{% else %}
			<p>Bienvenido. Por favor <a href="{% url "login" %}">log in</a></p>
		{% endif %}
	<nav>
	  <ul id='menu'>
		  <li><a href='/'>Inicio</a></li>
		  <li><a href='/appointments'>Citas</a></li>
		  <li><a href='/new_appointment'>Nueva Cita</a></li>
    </ul>
	</nav>
	<hr>
  </div>	
  <div id="contenido">
	{% block contenido %}{% endblock %}
  </div>
  
  <div id="navigation">
  	<p><a href="{% url "homepage" %}">Inicio</a>
  </div>
  <footer>
	<p>Proyecto de ejemplo para el curso Django de Maestros del Web 2012</p>
  </footer>
</body>
</html>
