<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% endblock %}</title>
<!--   <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'> -->
<!--   <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'> -->
<!--   {% block style_css %}{% endblock %} -->
<!--   <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script> -->
<!--   <script src='{{STATIC_URL}}js/demo.js'></script> -->
</head>
<body>
  <div id="header">
			{% if user.is_authenticated %}
				<div><a href={% url principal.views.appointmentList %}>Appointments</a> | 
				<a href={% url principal.views.new_appointment %}>New appointment</a> | 
				Welcome, <b>{{ user.username }} | 
				<a href={% url principal.views.logout_view %}>Logout</a></b></div>
			{% else %}
				<div><a href={% url principal.views.appointmentList %}>Appointments</a> | <a href={% url principal.views.new_appointment %}>New appointment</a> |Welcome. Please <a href="{% url principal.views.login_page %}">log in</a></div>
			{% endif %}		 
  </div>
 		
  <div id="content">
	{% block content %}{% endblock %}
  </div>
  
  <div id="navigation">
  	<p><a href="{% url principal.views.homepage %}">Homepage</a>
  </div>
  <footer>
	<p>Final Project Sapys, 2015</p>
  </footer>
</body>
</html>
