{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
		<h3>Welcome, this is our homepage</h3>	
		<select onchange="Dajaxice.examples.updatecombo(Dajax.process, {'option':this.value})" size="1">
    		<option value="0">Select...</option>
    		<option value="0">Sevilla</option>
   			<option value="1">Cadiz</option>
   			<option value="2">Malaga</option>
		</select>
		<select id="combo2" onchange="" size="1"></select>
		
		<div class="alert alert-success" role="alert">HELLO</div>
		
{% endblock %}