{% extends 'base.html' %}
{% block title %} Notifications {% endblock %}


{% block content %}

<h3>Notifications</h3>
<div class="table-responsive">
<table class="table">
    <tr>
    	<th></th>
        <th>Date</th>
        <th>Reason</th>
    </tr>
    {% for n in notifications %}
    <tr> 
    	<td><a href={% url 'edit_notification' n.id %}>Edit</a>&nbsp;</td>
        <td>{{ n.date }}&nbsp;</td>
        <td>{{ n.reason }}</td>
    </tr>
    {% endfor %}
</table>
<br>
</div>

<div><a href={% url 'new_notification' %}>New notification</a>
{% endblock %}
